html,body,div,ul,li,a,img,h4 {
	margin: 0;
	padding: 0;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color:#FEF8F8;
}
#header {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: #435348

}

li {
	position: relative;
	background-color: #FFF;
	text-decoration: none;
	display: inline-block;
	height: 10%;
	width: 10%;
	margin: 10%;
	padding: 1%;
	text-align: center;
}
a {
	position: relative;
	text-decoration: none;
	color: #805959;
	font-size: 20px;
}
#conteiner {
	position: relative;
	background-color: #FFF;
	width: 100%;
	height: 60%;
	text-align: center;
}
#footer {
	position: relative;
	background-color:  #435348;
	width: 100%;
	height: 20%;
	text-align: center;

}
h4 {
	position: relative;
	font-size: 20px;
	font-style: italic;
	padding-top: 5%;
	padding-bottom: 5%;
}
img {
	position: relative;
	margin-top: 10%;
	margin-bottom: 10%;
}
@media screen and (max-width: 1250px) {
    #header a {
       font-size: 15px;
    }
}
@media screen and (max-width: 950px) {
    #header a {
       font-size: 10px;
    }
}
@media screen and (max-width: 650px) {
    #header a {
       font-size: 6px;
    }
    li {
    	display: block;
    	margin:none;
    	padding-left: 10%;
    	padding-right: 10%;
    	text-align: none;
    	font-size: 6px;
    }
    
}


